.fa {
	font-size: 16px;
	margin-right: 10px;
}

.labelautyLabel {
	font-size: 14px;
	font-weight: 300;
}

label, .labelauty-unchecked, .labeluaty-checked {
	width: 100% !important;
}



.toggled-off {
	display: none;
}


.coin {
	margin-left: 3px;
	padding-left: 3px;
}


.row .col-md-8 .col-md-3{
	margin-top: 10px;
}

h3, h6, p {
	color: #727272;
}

.table {
	border-color: #f5f5f5;
}