.fa {
	font-size: 16px;
	margin-right: 10px;
}

.label-auty {
	font-size: 14px;
	font-family: Arial;
	font-weight: 100;
}

label {
	width: 100%;
}



.toggled-off {
	display: none;
}

.container-fluid {
}